div#gobalChatWindow
	h1#resize Hello Chat World 
	div#main
		div#login
			form(id="setUsernameForm")
				input(type="text",id="username")
				input(type="submit",value="Join the chat")
	
	div#chatwindow
		div#names
			p Currently in the chat:
			ul
	
		div#messages
			form(id="sendMessageForm")
				input(type="text",id="message")
			div#flow
				ul
