!!! 5
html(lang="en")
  head
    title Hello World Chat
    link(rel="stylesheet", href="/css/style.css")
    script(src="#{host}/socket.io/socket.io.js")
    script(src="/js/jquery.js")
    script(type='text/javascript')
      var srvport = #{port};
      var host = '#{host}';
    script(src="/js/js.js")
  body!= body
