!!! 5
html(lang="en")
  head
    title Hello World Chat
    link(rel="stylesheet", href="/css/style.css")
    script(src="http://localhost:#{port}/socket.io/socket.io.js")
    script(src="/js/jquery.js")
    script(type='text/javascript')
      var srvport = #{port};
      alert("will it interpret ?");
    script(src="/js/js.js")
  body!= body
