html, body{
	padding: 0;
	margin: 0;
	font-size:16px;
}

body {
	background-color: #232D66;
	font-family: sans-serif;
}

h1{
	width:66%;
	background-color:#141C47;
	color: #878eb1;
	padding:5px;
	font-size: 1em;
}

h2{
	font-size: 1em;
	color:#EBEBFF;
}

h3{
    width:66%;
    background-color:#141C47;
    color: #878eb1;
    font-size: 0.7em;
    text-align:right;
    flow:right;
}

#gobalChatWindow {
    position:absolute;
   	bottom:0;
	height:200px;
	width:100%;
	overflow:auto;
	scrollbar-face-color: #CFCFFF;
	scrollbar-track-color: #D000DE;
	scrollbar-arrow-color: #FF0000;
	scrollbar-highlight-color: #AADDFF;
	scrollbar-shadow-color: #5D61FF;
	scrollbar-3dlight-color: #FFB62F;
	scrollbar-darkshadow-color: #000000;
}

#main {
	width:400px;
	margin: 0px auto;
	text-align: center;
}

input{
	padding:5px;
	margin: 1px 0;
	font-size:1em;
	text-align:center;
	display:block;
	margin-left: auto;
  	margin-right: auto;
  	width:100px;
}

#username{
	width:300px;
}

#flow {
        margin: 0px 0px 0px 23px;
	height:230px;
	width:560px;
	overflow:auto;
}

#chatwindow{
	margin: auto;
	width: 850px;
	height:230px;
}

#names{
	float: left;
	margin-right: 10px;
	width: 190px;
	height: 150px;
	background-color: #fff;
	padding: 10px;
	text-align: right;
	font-size: 0.8em;
	background-color: #AABFFF;
	overflow:auto;
}

#names p{
	font-weight: bold;
}

#message{
	width:90%;
	text-align:left;
}

#messages{
	background-color: #AABBFF;
	padding: 5px;
	text-align: left;
	font-size: 0.8em;
	margin-left: 260px;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width:97%;
}

ul li{
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
}

li.welcome{
	color: #003300;
	background-color:#DDDDFF;
}

li.joined, li.left{
	color: #003;
	font-style: italic;
	text-align:right;
	background-color:#AABBFA;
}

li.left{
	color: #300;
}

span.time{
	display: inline-block;
	margin-right: 10px;
	color: #006;
}

span.user{
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
}


.color0{
	color: #000333;
	background-color: #AAAAFF;
}

.color1{
	color: #000033;
	background-color: #AAAAFF;
}

.color2{
	color: #003300;
	background-color: #AADDFF;
}

.color3{
	color: #330000;
	background-color: #CCCCFF;
}

.color4{
	color: #003333;
	background-color: #AACFFF;
}
